<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cliente MVC Twitter</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
            id="Viewport" name="viewport"/>
    <!-- Bootstrap CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>


    <!-- Latest compiled and minified JavaScript -->
    <script id="template" type="x-tmpl-mustache">
        <div class="card p-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://twitter.com/{{fromUser}}"
                       target="_blank"><span class="fas fa-user"></span> {{fromUser}}</a>
                    dice en
                    <a href="https://twitter.com/{{fromUser}}/status/{{idStr}}"
                       target="_blank"><span class="fab fa-twitter-square"></span> {{idStr}}</a>
                </h5>
                <p class="card-text">{{{unmodifiedText}}}</p>
            </div>
        </div>

    </script>


</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
    <a class="navbar-brand" href="#">Cliente Streaming Twitter</a>
    <form action="search" class="mx-2 my-auto d-inline w-100" id="search" method="get">
        <div class="input-group">
            <input class="form-control" id="q" name="q" placeholder="Escribe algo que quieras buscar" type="text"/>
            <span class="input-group-append">
                    <button class="btn btn-secondary" type="submit">Buscar</button>
                </span>
        </div>
    </form>
</nav>
<div class="container-fluid">
    <div class="card-columns mt-3" id="resultsBlock"></div>
</div>
<script src="http://code.jquery.com/jquery-3.0.0.min.js"
        th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

<script
        src="https://cdn.jsdelivr.net/npm/mustache@3.1.0/mustache.min.js"
        th:src="@{/webjars/mustache/3.1.0/mustache.min.js}"></script>

<script defer="" src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"
        th:src="@{/webjars/font-awesome/5.12.0/js/all.js}"></script>

<script
        src="http://cdn.jsdelivr.net/webjars/sockjs-client/1.0.2/sockjs.min.js"
        th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
<script
        src="http://cdn.jsdelivr.net/webjars/stomp-websocket/2.3.3/stomp.js"
        th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}"></script>
<script src="../static/functions.js"
        th:src="@{/functions.js}"></script>
</body>
</html>